.mother {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    
}

.children {
    background-color: violet;
    width: 100px;
    height: 100px;
}